.modal {    
    position: fixed;
    left: 0;
    top: 0;    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.75s;
}
.modal-content {
    position: absolute;
    top: 40vh;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    /*width: 50rem;*/
    /*height: 30rem;*/
    display: block;    
}

.modal-header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3.5rem;
    background: -webkit-linear-gradient(left, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
}

h3 {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin-bottom: 0;
    font-weight: 800;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.close-button-logo {
    padding: 0.5rem;
    float: left;
    width: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal-text {   
    font-family: 'Kanit', sans-serif;
    padding: 0 2rem;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.modal-h4 {
    /*width: 2rem;*/
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-img-logo {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-modal-text {
    text-align: left;
}

.close-button {
    font-size: 3rem;
    float: right;
    width: 2.5rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
    cursor: pointer;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.close-button:hover {
    background-color: darkgray;    
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.75s;
}

@media only screen and (max-width: 640px) { 

    #header {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 1vw;
    }
    #header-img-logo {
        /*margin-top: 50%;*/
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-text {
        font-family: 'Kanit', sans-serif;
        margin: 0.3rem 0;
    }

    .header-text-th {
        font-family: 'Kanit', sans-serif;
        margin: 0;
        font-size: 5vw;
    }

    #content {
        margin-top: -0.5rem;
    }

    #card {
        position: relative;
        margin-top: 20vh;
        width: 90%;
        height:100%;
        display: block;
        align-items: center;
        justify-content: center;
    }

    #input-username {
        margin-top: 0.5rem;
    }

    #input-username,
    #input-password {

        width: 57vw;
        height: 10vw;   
        font-size: 3vw;
    }

    #content-input-button {
        /*background-color: black;*/
        display: flex;
        align-items: center;
        justify-content: center;
        /*margin-left: 7.5vw;*/
    }

    #button-signin-submit,
    #button-signin-reset {       
        width: 28%;
        height: 10vw; 
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #content-input-button > #button-signin-submit {
        font-size: 3vw;
    }

    #content-input-button > .button-signin-reset {
        font-size: 3vw;
    }

    .modal-content {
        width: 80vw;
        top: 40vh;
    }

    h3 {
        margin-top: 0.8rem;
        font-family: 'Kanit', sans-serif;
        font-size: 1rem;
        font-weight: 800;
        float: left;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    h4.modal-text-display {
        font-size: 0.8rem;
        font-family: 'Kanit', sans-serif;
    }
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80vw;
        top: 40vh;
    }
}